@font-face{
  font-family: Inter-Bold;
  src: url(../fonts/Inter-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: Inter-Light;
  src: url(../fonts/Inter-Light.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Inter-Medium;
  src: url(../fonts/Inter-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}    
@font-face{
  font-family: Inter-Regular;
  src: url(../fonts/Inter-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}    
     
@font-face{
  font-family: Inter-SemiBold;
  src: url(../fonts/Inter-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}    
     
   
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  } 
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}

a:hover{
  text-decoration: none;
}  

.signup-view{ 
  height: 100vh;
  background: url(../images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.png);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.signup-view .view{   
  max-width: 363px; 
}
.signup-view .view img{   
  max-width: 299px;
  margin-bottom: 30px;
}
.signup-view .view h1{   
  font-family: Inter-Bold;
  color: #16657C;
  font-size: 62px;
  line-height: 75px;
}
.signup-view .view h3{   
  font-family: Inter-Bold;
  color: #333333;
  font-size: 30px;
  line-height: 36px;
}
.signup-view .view p{   
  font-family: Inter-Regular;
  color: #8491A5;
  font-size: 16px;
  line-height: 19px;
}
.signup-view .view p a{    
  color: #16657C; 
}
.signup-form{ 
  height: 100vh;
  background-color: #fff;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.signup-form .form{   
  width: 312px; 
}
.signup-form .form h1{   
  font-family: Inter-Bold;
  color: #16657C;
  font-size: 62px;
  line-height: 75px;
  margin-bottom: 50px;
}
.signup-form .form h3{   
  font-family: Inter-Bold;
  color: #393939;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 50px;
  margin-top: -40px;
}
.signup-form .form input{    
  font-family: Inter-Light;
  color: #16657C;
  width: 100%;
  height: 36px;
  border: 1px solid #CACED8;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #16657C;
  padding-left: 34px;
}
.signup-form .form input:focus{ 
  border: 1px solid #2299BC;
  filter: drop-shadow(0px 0px 4px rgba(34, 153, 188, 0.25)) drop-shadow(0px 0px 4px rgba(34, 153, 188, 0.25));
}
.signup-form .form input.active{ 
  border: 1px solid #2299BC; 
  background: #E7F4F8;
}
.signup-form .form input.controlb{
  width: calc(100% - 148px) !important;
}
.signup-form .form .input-group-append{
  width: 148px !important;
}
.signup-form .form .input-group-append .input-group-text{  
  background-color: #E7F4F8 !important;
  border-radius: 0px 8px 8px 0px !important;
  font-size: 14px;
  line-height: 17px; 
  color: #16657C; 
  height: 36px;
}
.signup-form .form form p{ 
  position: absolute;
  margin-top: -47px;
  margin-left: 10px;
}
.signup-form .form form p img{ 
  width: 18px;
  height: 18px;
}
.btn-signup{
  height: 36px;
  margin-top: 30px;
  color: #fff;
  width: 100%;
  display: block;
  background: #16657C;
  border: 1px solid #16657C;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter-Regular;
}
.btn-signup:hover{
  background-color: #2299BC;
  border: 1px solid #2299BC;
  color: #fff;
}
.dropdown.language{
  position: absolute;
  right: 54px;
  top: 54px;
} 
.dropdown.language .btn:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-toggle:after { 
  content: none 
}
.dropdown.language .dropdown-menu{
  width: 100px;
  min-width: 100px;
}
.signup-form .input-group + p{
  margin-top: -64px !important;
  z-index: 12 !important;
} 
.signup-form .custom-control label{
  color: #526581;
  font-size: 12px;
  line-height: 20px;
  font-family: Inter-Regular; 
}
.signup-form .custom-control label a{
  color: #16657C; 
  text-decoration: underline;
}
.signup-view.login{
  background: url(../images/login.png);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;

}
.signup-view.login .view{
  text-align: center;
}
.signup-view.login .view img{
  max-width: 350px;
}
.signup-view.login .view h2{   
  font-family: Inter-Bold;
  color: #16657C;
  font-size: 30px;
  line-height: 36px;
  margin-top: 40px;
}
.signup-view.login .view h4{   
  font-family: Inter-SemiBold;
  font-size: 16px;
  line-height: 19px; 
  color: #000000; 
} 
.signup-form .forgot{    
  font-weight: 400;
  font-size: 12px;
  line-height: 15px; 
  color: #16657C;
  text-align: right;
  text-decoration: underline;
  float: right;
  margin-bottom: 40px;
} 
.signup-form .forgot:hover{    
  color: #000; 
}
.verify{ 
  height: 100vh;
  background: url(../images/2.png);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; 
} 
.verify .logo{
  position: absolute;
  left: 54px;
  top: 54px; 
}  
.verify .logo img{ 
  width: 244px !important;
}  
.main-des{
  width: 760px;
  height: 420px;  
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  padding: 50px 40px 60px;
}
.main-des .back{
  text-transform: capitalize;
  font-size: 14px;
  line-height: 22px; 
  letter-spacing: -0.408px; 
  color: #8491A5;
  font-family: Inter-Regular; 
}
.main-des h2{
  margin-top: 45px;
  font-size: 20px;
  line-height: 24px; 
  align-items: center; 
  color: #393939;
  font-family: Inter-Bold; 
  margin-bottom: 24px;
}
.main-des p{
  font-size: 16px;
  line-height: 25px; 
  color: #393939;
  font-family: Inter-Regular; 
}
.btn-verify{
  background: #16657C;
  border: 1px solid #16657C;
  border-radius: 8px;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 30px;
  width: 160px;
  height: 36px;
} 
.btn-verify:hover{
  background-color: #2299BC;
  border: 1px solid #2299BC;
  color: #fff;
}
img.success{
  margin-top: 30px;
  margin-bottom: 10px;
}




   
@media only screen and (max-width: 991px) { /* MOBILE */  
  .dropdown.language{
    position: absolute;
    right: 30px;
    top: 30px;
  } 
  .dropdown.language .flag-icon{
    display: none;
  } 
  .signup .signup-view{
    height: 375px; 
  }
  .signup .signup-form{  
    height: 350px; 
  }
  .signup .create-form{  
    height: 650px; 
  }
  .signup-view .view img{
    width: 235px;
  }
  .signup-view .view h1{
    display: none;
  }
  .signup-view .view h3{
    display: none;
  }
  .signup-view .view p{
    display: none;
  }
  .signup-view.login .view h2{    
    margin-top: 20px;
  }
  .signup .signup-form.loginx{
    height: 400px !important;  
  }
  .signup-view.login .view h2{
    font-size: 24px;
    line-height: 29px;
  }
  .signup-form.loginx .form h1{   
    font-family: Inter-Bold;
    color: #16657C;
    font-size: 48px;
    line-height: 58px;
    margin-top: 40px;
  }
  .signup-view.login .view h4{   
    font-family: Inter-Light;
    font-size: 12px;
    line-height: 15px;
    color: #526581; 
  } 
  .verify{
    padding-left: 34px;
    padding-right: 34px;
  }
  .main-des{
    width: 100%;
    height: 456px;  
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    padding: 45px 30px;
  }
  .verify{  
    background-size: auto 100%; 
    justify-content: center; 
  } 
  .verify .logo{
    position: absolute;
    left: 30px;
    top: 30px; 
  }  
  .verify .logo img{ 
    width: 195px !important;
  }  
  .main-des p {
    font-size: 15px; 
  }
}